@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-weight: 400;
    font-family: "Merienda", cursive;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.section_title{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

/* Шапка сайта */
header{
    background: url("img/headerBg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    height: 100vh;
}

.navigation{
    display: flex;
    align-items: end;
    justify-content: start;
    padding-top: 30px;
}

.navigation a:nth-child(2){
    margin-left: 0;
}

.navigation a{
    margin-left: 40px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s
}

.navigation a:hover{
     background-size: 100% 1px;
}

.header_title{
    font-size: 40px;
    margin-bottom: 18px;
}

.header__content_wrapper{
    margin: 250px 0;
}

.header__content_wrapper p{
    font-size: 24px;
    font-weight: 700;
    margin-top: 34px;
}

.header__content_wrapper span{
    display: inline-block;
    padding-top: 20px;
}

.btn{
    margin-top: 18px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: inherit;
    border: solid 1px ;
    padding: 5px 40px;
    border-radius: 3px;
}

.btn:hover{
    cursor: pointer;
}

/* Секция about As */

.aboutAS{
    text-align: center;
    padding: 100px 0;
}

.aboutText{
    width: 600px;
    margin: 0 auto;
}

.aboutText p:first-child{
    margin-bottom: 20px;
    margin-top: 40px;
}

/* Секция ourBest */

.ourBest{
    background: url("img/ourBest.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.cardCoffee{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cadrProduct{
    text-align: center;
    padding: 22px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    width: 240px;
}

.productTitle{
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0;
}

.priceTitle{
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

/* Секция footer */
.footer{
    text-align: center;
    padding: 30px 0;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
}

.nav a{
    margin-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.nav a:nth-child(2){
    margin-left: 0;
}

